<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-1">
        <div class="row">
            <p class="text-center fs-3 mt-5">Tất Cả Đơn Hàng</p>
            <hr>
            <a href="/admin/" class="back-icon">Quay lại</a>
            <th:block th:if="${session.succMsg}">
                <p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
                <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>
            <div class="col-md-4 p-4">

                <form action="/admin/search-order" method="get">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control " name="orderId"
                                   placeholder="Nhập mã đơn hàng">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary col">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-12 ps-4 pe-4">

                <table class="table table-bordered card-sh">
                    <thead class="table-light">
                    <tr>
                        <th scope="col">Mã Đơn Hàng</th>
                        <th scope="col">Chi Tiết Giao Hàng</th>
                        <th scope="col">Ngày</th>
                        <th scope="col">Tên Sản Phẩm</th>
                        <th scope="col">Giá Tiền</th>
                        <th scope="col">Trạng Thái</th>
                        <th scope="col">Hoạt Động</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr th:each="o:${orders}">
                                <th scope="row">[[${o.orderId}]]</th>
                                <td>
                                    Name : [[${o.ordersAddressEntity.first_name+' '+o.ordersAddressEntity.last_name}]]<br>
                                    Email : [[${o.ordersAddressEntity.email}]] <br>
                                    Phone: [[${o.ordersAddressEntity.phone}]] <br>
                                    Address : [[${o.ordersAddressEntity.address}]] <br>
                                    City : [[${o.ordersAddressEntity.city}]] <br>
                                    Province : [[${o.ordersAddressEntity.province}]]
                                </td>
                                <td>[[${o.orderDate}]]</td>
                                <td>[[${o.productEntity.product_name}]]</td>
                                <td>Quantity : [[${o.quantity}]] <br>
                                    Price : [[${o.price}]] <br>
                                    Total Price :[[${o.quantity * o.price}]]
                                </td>
                                <td>[[${o.status}]]</td>
                                <td>
                                    <form action="/admin/update-order-status" method="post">
                                        <div class="row">
                                            <div class="col">
                                                <select class="form-control" name="st">
                                                    <option>--select--</option>
                                                    <option value="1">Đang Tiến Hành</option>
                                                    <option value="2">Đã Nhận Được Đơn Hàng</option>
                                                    <option value="3">Sản Phẩm Được Đóng Gói</option>
                                                    <option value="4">Ra Ngoài Để Giao Hàng</option>
                                                    <option value="5">Đã Giao Hàng</option>
                                                    <option value="6">Huỷ Đơn Hàng</option>
                                                </select>
                                            </div>
                                            <input th:value="${o.id}" name="id" type="hidden">
                                            <div class="col">
                                                <th:block
                                                        th:if="${o.status=='Cancelled' || o.status=='Delivered'}">
                                                    <button class="btn btn-primary btn-sm col disabled">Cập nhật</button>
                                                </th:block>
                                                <th:block
                                                        th:unless="${o.status=='Cancelled' || o.status=='Delivered'}">
                                                    <button class="btn btn-sm btn-primary ">Cập nhật</button>
                                                </th:block>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        <th:block th:unless="${orderDtls!=null}">
                            <p class="fs-3 text-center text-danger">[[${errorMsg}]]</p>
                        </th:block>

<!--                    <th:block th:unless="${srch}">-->
<!--                        <tr th:each="o:${orders}">-->
<!--                            <th scope="row">[[${o.orderId}]]</th>-->

<!--                            <td>Name : [[${o.orderAddress.first_name+'-->
<!--                                '+o.orderAddress.last_name}]]<br> Email :-->
<!--                                [[${o.orderAddress.email}]] <br> Phone:-->
<!--                                [[${o.orderAddress.phone}]] <br> Address :-->
<!--                                [[${o.orderAddress.address}]] <br> City :-->
<!--                                [[${o.orderAddress.city}]] <br> Province :-->
<!--                                [[${o.orderAddress.province}]], [[${o.orderAddress.pincode}]]-->



<!--                            </td>-->
<!--                            <td>[[${o.orderDate}]]</td>-->
<!--                            <td>[[${o.product.title}]]</td>-->
<!--                            <td>Quantity : [[${o.quantity}]] <br>Price :-->
<!--                                [[${o.price}]] <br>Total Price :[[${o.quantity *-->
<!--                                o.price}]]-->
<!--                            </td>-->
<!--                            <td>[[${o.status}]]</td>-->
<!--                            <td>-->
<!--                                <form action="/admin/update-order-status" method="post">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col">-->
<!--                                            <select class="form-control" name="st">-->
<!--                                                <option>&#45;&#45;select&#45;&#45;</option>-->
<!--                                                <option value="1">In Progress</option>-->
<!--                                                <option value="2">Order Received</option>-->
<!--                                                <option value="3">Product Packed</option>-->
<!--                                                <option value="4">Out for Delivery</option>-->
<!--                                                <option value="5">Delivered</option>-->
<!--                                                <option value="6">Cancelled</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                        <input th:value="${o.id}" name="id" type="hidden">-->
<!--                                        <div class="col">-->
<!--                                            <th:block-->
<!--                                                    th:if="${o.status=='Cancelled' || o.status=='Delivered'}">-->
<!--                                                <button class="btn btn-primary btn-sm col disabled">Update</button>-->
<!--                                            </th:block>-->
<!--                                            <th:block-->
<!--                                                    th:unless="${o.status=='Cancelled' || o.status=='Delivered'}">-->
<!--                                                <button class="btn btn-sm btn-primary ">Update</button>-->
<!--                                            </th:block>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </th:block>-->
                    </tbody>
                </table>
                <th:block th:if="${!srch}">
                    <div class="row">
                        <div class="col-md-4">Total Orders : [[${totalElements}]]</div>
<!--                        <div class="col-md-6">-->

<!--                            <nav aria-label="Page navigation example">-->
<!--                                <ul class="pagination">-->
<!--                                    <li class="page-item"-->
<!--                                        th:classappend="${isFirst} ? 'disabled':''"><a-->
<!--                                            class="page-link"-->
<!--                                            th:href="@{'/admin/orders?pageNo='+${pageNo-1}}"-->
<!--                                            aria-label="Previous"> <span aria-hidden="true">&laquo;</span>-->
<!--                                    </a></li>-->

<!--                                    <li th:each="i:${#numbers.sequence(1,totalPages)}"-->
<!--                                        class="page-item" th:classappend="${pageNo+1==i}?'active':''"-->
<!--                                        ]]><a class="page-link"-->
<!--                                              th:href="@{'/admin/orders?pageNo='+${i-1}}">[[${i}]]</a></li>-->

<!--                                    <li class="page-item"-->
<!--                                        th:classappend="${isLast} ? 'disabled':''"><a-->
<!--                                            class="page-link"-->
<!--                                            th:href="@{'/admin/orders?pageNo='+${pageNo+1}}"-->
<!--                                            aria-label="Next"> <span aria-hidden="true">&raquo;</span>-->
<!--                                    </a></li>-->
<!--                                </ul>-->
<!--                            </nav>-->
<!--                        </div>-->

                    </div>
                </th:block>
            </div>
        </div>

    </div>
</section>
</body>
</html>