<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <a href="/admin/" class="back-icon">Quay lại</a><br><br>
        <div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <p class="fs-4">Xem Sản Phẩm</p>
        </div>
        <div class="col-md-4 p-3">
            <form action="/admin/products" method="get">
                <div class="row">
                    <div class="col-md-8">
                        <input style="background-color: #f8f8f8" type="text" class="form-control " name="keyword" placeholder="Tìm Sản Phẩm...">
                    </div>
                    <div class="col">
                        <button class="btn btn-primary col">Tìm Kiếm</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Số Thứ Tự</th>
                    <th scope="col">Hình Ảnh</th>
                    <th scope="col">Tên Sản Phẩm</th>
                    <th scope="col">Danh Mục</th>
                    <th scope="col">Giá Tiền</th>
                    <th scope="col">Hàng Tồn Kho</th>
                    <th scope="col">Giảm Giá</th>
                    <th scope="col">Giá Ban Đầu</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td>
                    <img width="70px" height="70px" th:src="@{/admin/getProductFile/{id}(id=${product.id})}"/>
                    </td>
                    <td th:text="${product.product_name}"></td>
                    <td th:text="${product.categoryEntity.name}"></td>
                    <td th:text="${product.product_price}"></td>
                    <td th:text="${product.stock_quantity}"></td>
                    <td th:text="${product.discount}"></td>
                    <td th:text="${product.discount_price}"></td>
                    <td>
                        <a th:href="@{'/admin/loadEditProduct/'+ ${product.id}}" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen-to-square">CHỈNH SỬA</i></a>
                        <a th:href="@{'/admin/deleteProduct/'+ ${product.id}}" class="btn btn-sm btn-danger" onclick="return confirm('Bạn có chắc chắn xoá không?')"><i class="fa-solid fa-trash">XOÁ</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
        </div><br><br>
        <div class="box-foooter clearfix">
            <div class="d-flex justify-content-between align-items-center">
                <div class="total-products">
                Tổng số sản phẩm : [[${totalProducts}]] - Trang [[${currentPage}]] của [[${totalPage}]]
                </div>
            <ul class="pagination mb-0">
                <li th:if="${currentPage >1}" class="page-item"><a class="page-link" th:href="@{'?pageNo='+${currentPage-1}}">«</a></li>
                <li class="page-item" th:each="i:${#numbers.sequence(1,totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}">
                    <a class="page-link" th:href="@{'?pageNo='+${i}}" th:text="${i}"></a>
                </li>
                <li th:if="${currentPage < totalPage}" class="page-item"><a class="page-link" th:href="@{'?pageNo='+${currentPage+1}}">»</a></li>
            </ul>
        </div>
    </div>
    </div>
</section>
</body>
</html>