<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-5">
        <a href="/admin/" class="back-icon">Quay lại</a><br><br>
        <div class="card card-sh">
            <div class="card-header text-center">
                <p class="fs-4" >Users</p>
<!--                <p class="fs-4" th:if="${userType==1}">Users</p>-->
<!--                <p class="fs-4" th:if="${userType==2}">Admin</p>-->
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Số Thứ Tự </th>
                        <th scope="col">Hồ Sơ</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Email</th>
                        <th scope="col">Số Điện Thoại</th>
                        <th scope="col">Địa Chỉ</th>
                        <th scope="col">Trạng Thái</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="u,c:${users}">
                        <td th:text="${u.id}"></td>
                        <td><img th:src="@{/admin/getAccountFile/{id}(id=${u.id})}"
                                 width="70px" height="70px"></td>
                        <td th:text="${u.name}"></td>
                        <td th:text="${u.email}"></td>
                        <td th:text="${u.phone}"></td>
                        <td>[[${u.address+','+ u.city+','+ u.province+','+ u.pincode}]]</td>
                        <td th:text="${u.enable ? 'Active' : 'Inactive'}"></td>
                        <td><a th:href="@{'/admin/updateSts?enable=true&id='+${u.id}}"
                               class="btn btn-sm btn-primary">Hoạt Động</a>
                            <a th:href="@{'/admin/updateSts?enable=false&id='+${u.id}}"
                                    class="btn btn-sm btn-danger">
                                Không Hoạt Động</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>