@charset "ISO-8859-1";

*{
font-family: 'Arial', sans-serif;
}
.card-sh {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}
.cat-div {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.error {
	color: red;
}
.discount-badge {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #f8c471;
            color: white;
            border-radius: 50%;
            padding: 5px 10px;
        }
th, td {
            text-align: center;
        }
.back-icon {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        .back-icon:hover {
            color: #555;
        }

        .back-icon::before {
            content: '<';
            margin-right: 5px;
        }
        .box-footer {
        padding: 10px 0;
    }
    .total-products {
        font-size: 1rem;
    }
    .pagination .page-link {
        padding: 5px 10px;
    }
    .filter-title {
                font-size: 1.25rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }
    .category-card {
            width: 120px;
            text-align: center;
            padding: 10px;
            transition: all 0.3s ease;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            background-color: white;
        }
        .category-link {
                    text-decoration: none; /* Bỏ dấu gạch chân */
                    color: #007bff; /* Đổi màu chữ (xanh) */
                }
                .category-link:hover {
                    color: #0056b3; /* Màu khi hover (xanh đậm hơn) */
                }

