<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container card-sh" style="margin-top: 100px">

        <div class="col-md-12 p-5">
            <div class="row">
            <div class="col-md-5 text-end">
                <img src="/img/dongho/product1.jpg" width="330px" height="400px">
            </div>
            <div class="col-md-6">
                <p class="fs-3">Seiko Tsuyosa</p>
                <p>
                    <span class="fw-bold">Miêu Tả: </span><br>
                    Trang bị máy automatic sản xuất in-house cho thời gian tích cót khoảng 41 giờ mạnh mẽ.
                </p>
                <p>
                    <span class="fw-bold">Chi Tiết: </span><br>Status:
                    <span class="badge bg-success">Available</span>
                    <span class="badge bg-warning">out of stock</span><br>
                    Origin: China<br>
                    Policy: 7 Days Replacement & Return
                </p>
                <p class="fs-5 fw-bold">
                    Price:  120,000 ₫
                    <span class="fs-6 text-decoration-line-through text-secondary">240,000 ₫</span>
                    <span class="fs-6 text-success">50% off</span>
                </p>
                <div class="row">
                    <div class="col-md-4 text-success text-center p-2">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                        <p>Cash On Delivery</p>
                    </div>
                    <div class="col-md-4 text-danger text-center p-2">
                        <i class="fas fa-undo-alt fa-2x"></i>
                        <p>Return Available</p>
                    </div>
                    <div class="col-md-4 text-warning text-center p-2">
                        <i class="fas fa-truck-moving fa-2x"></i>
                        <p>Free Shipping</p>
                    </div>
            </div>
                <a href="login.html" class="btn btn-danger col-md-12">Add To Cart</a>
        </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>