<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container card-sh" style="margin-top: 100px">
        <div class="col-md-12 p-5">
            <div class="row">
            <div class="col-md-5 text-end">
                <img src="/img/dongho/product1.jpg" width="330px" height="400px">
            </div>
            <div class="col-md-6">
                <p class="fs-3">Seiko Tsuyosa</p>
                <p>
                    <span class="fw-bold">Miêu Tả: </span><br>
                    Trang bị máy automatic sản xuất in-house cho thời gian tích cót khoảng 41 giờ mạnh mẽ.
                </p>
                <p>
                    <span class="fw-bold">Chi Tiết: </span><br>
                    Trạng thái:
                    <span class="badge bg-success">Có Sẵn</span>
                    <span class="badge bg-warning">Hết Hàng</span><br>
                    Xuất xứ: Trung Quốc<br>
                    Chính sách: Đổi trả trong vòng 7 ngày
                </p>
                <p class="fs-5 fw-bold">
                    Giá:  120,000 ₫
                    <span class="fs-6 text-decoration-line-through text-secondary">240,000 ₫</span>
                    <span class="fs-6 text-success">giảm 50%</span>
                </p>
                <div class="row">
                    <div class="col-md-4 text-success text-center p-2">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                        <p>Thanh toán khi nhận hàng</p>
                    </div>
                    <div class="col-md-4 text-danger text-center p-2">
                        <i class="fas fa-undo-alt fa-2x"></i>
                        <p>Có thể trả lại</p>
                    </div>
                    <div class="col-md-4 text-warning text-center p-2">
                        <i class="fas fa-truck-moving fa-2x"></i>
                        <p>Miễn phí vận chuyển</p>
                    </div>
            </div>
                <a href="login.html" class="btn btn-danger col-md-12">Thêm Giỏ Hàng</a>
        </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>